button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-width: 0px;
}

img {
  height: 100%;
  width: 100%;
}

.selectButton {
  background-color: #9a4edd;
}

.clearButton {
  background-color: #767676;
  margin-left: 8px;
}